/vendor
/.env
/.env.backup
/.phpunit.result.cache
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/bootstrap/cache/*.php
/public/storage
/public/hot
/node_modules
database/database.sqlite
database/database.sqlite-journal